.mosquitoyo {
  background: url('./mosquitoyo.png');
  background-size: cover;
}

.friendlist {
  background: url('./friendlist.png');
  background-size: cover;
}

.venus_calendar {
  background: url('./venus_calendar.png');
  background-size: cover;
}